<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center"> New Campground </h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div>
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" class="form-control" name="campground[title]" required>
                    <div class="valid-feedback">Looks good</div>
                </div>
                <div class="mb-3"><label for="location" class="form-label ">Location</label>
                    <input type="text" id="location" class="form-control" name="campground[location]" required>
                    <div class="valid-feedback">Looks good</div>
                </div>
                <div class="input-group custom-file mb-3">
                    <input type="file" class="form-control custom-file-input" id="image" multiple name="image">
                    <label class="input-group-text custom-file-label" for="image">Upload</label>
                </div>
                <!-- <div class="my-3">
                    <input type="file" name="image" multiple>
                </div> -->
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" placeholder="0.00" name="campground[price]" id="price"
                            aria-label="price" aria-describedby="price-label" required>
                        <div class="valid-feedback">Looks good</div>
                    </div>
                </div>
                <div><label for="description" class="form-label">Description</label>
                    <textarea name="campground[description]" class="form-control" required></textarea>
                    <div class="valid-feedback">Looks good</div>
                </div>
                <div class="my-3"> <button class="btn btn-success">Add Campground</button> </div>
            </form>
            <a href="/campgrounds">All campgrounds</a>

        </div>

    </div>